.s0 {
    fill: url(#g1)
}

.s1 {
    fill: #ffffff
}

.s2 {
    opacity: .5;
    mix-blend-mode: overlay;
    fill: url(#g2)
}

.s3 {
    opacity: .5;
    mix-blend-mode: overlay;
    fill: url(#g3)
}

.s4 {
    opacity: .5;
    mix-blend-mode: overlay;
    fill: url(#g4)
}

.s5 {
    opacity: .5;
    mix-blend-mode: overlay;
    fill: url(#g5)
}

.s6 {
    fill: url(#g6)
}

.s7 {
    fill: url(#g7)
}

.s8 {
    fill: url(#g8)
}

.s9 {
    fill: url(#g9)
}

.s10 {
    fill: url(#g10)
}

.s11 {
    fill: url(#g11)
}

.s12 {
    fill: url(#g12)
}

.s13 {
    fill: url(#g13)
}

.s14 {
    fill: url(#g14)
}

.s15 {
    fill: url(#g15)
}

.s16 {
    fill: #cec4d6
}

.s17 {
    fill: #e5dfe9
}

.s18 {
    fill: url(#g16)
}

.s19 {
    fill: url(#g17)
}

.s20 {
    fill: #5c479e
}

.s21 {
    fill: #aca5b5
}

.s22 {
    fill: #c0b8cc
}

.s23 {
    fill: #34254c
}

.s24 {
    fill: #51347f
}

.s25 {
    fill: url(#g18)
}

.s26 {
    fill: url(#g19)
}

.s27 {
    fill: url(#g20)
}

.s28 {
    fill: url(#g21)
}

.s29 {
    fill: url(#g22)
}

.s30 {
    fill: url(#g23)
}

.s31 {
    fill: url(#g24)
}

.s32 {
    fill: url(#g25)
}

.s33 {
    fill: url(#g26)
}

.s34 {
    fill: url(#g27)
}

.s35 {
    fill: url(#g28)
}

.s36 {
    fill: url(#g29)
}

.s37 {
    fill: url(#g30)
}

.s38 {
    fill: url(#g31)
}

.s39 {
    fill: #c8b8d3
}

.s40 {
    fill: url(#g32)
}

.s41 {
    fill: url(#g33)
}

.s42 {
    fill: url(#g34)
}

.s43 {
    fill: url(#g35)
}

.s44 {
    fill: url(#g36)
}

.s45 {
    fill: url(#g37)
}

.s46 {
    fill: url(#g38)
}

.s47 {
    fill: url(#g39)
}

.s48 {
    fill: url(#g40)
}

.s49 {
    fill: #2d2244
}

.s50 {
    fill: url(#g41)
}

.s51 {
    fill: url(#g42)
}

.s52 {
    fill: url(#g43)
}

.s53 {
    fill: url(#g44)
}

.s54 {
    fill: url(#g45)
}

.s55 {
    fill: url(#g46)
}

.s56 {
    fill: url(#g47)
}

.s57 {
    fill: url(#g48)
}

.s58 {
    fill: url(#g49)
}

.s59 {
    fill: url(#g50)
}

.s60 {
    fill: url(#g51)
}

.s61 {
    fill: url(#g52)
}

.s62 {
    fill: url(#g53)
}

.s63 {
    fill: url(#g54)
}

.s64 {
    fill: url(#g55)
}

.s65 {
    fill: url(#g56)
}

.s66 {
    fill: url(#g57)
}

.s67 {
    fill: url(#g58)
}

.s68 {
    fill: url(#g59)
}

.s69 {
    fill: url(#g60)
}

.s70 {
    fill: url(#g61)
}

.s71 {
    fill: url(#g62)
}

.s72 {
    fill: url(#g63)
}

.s73 {
    fill: url(#g64)
}

.s74 {
    fill: url(#g65)
}

.s75 {
    fill: url(#g66)
}

.s76 {
    fill: url(#g67)
}

.s77 {
    fill: url(#g68)
}

.s78 {
    fill: url(#g69)
}

.s79 {
    fill: url(#g70)
}

.s80 {
    fill: url(#g71)
}

.s81 {
    fill: #988ca5
}

.s82 {
    fill: url(#g72)
}

.s83 {
    fill: url(#g73)
}

.s84 {
    opacity: .6;
    mix-blend-mode: overlay;
    fill: url(#g74)
}

.s85 {
    opacity: .6;
    mix-blend-mode: overlay;
    fill: url(#g75)
}